<!DOCTYPE html>
<html lang="zh-cn">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="keywords" content="jquery,ui,easy,easyui,web">
  <meta name="description" content="easyui help you build your web page easily!">
  <title>My Works Flow</title>
  <!-- <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/default/easyui.css">
  <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/icon.css">
  <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/demo/demo.css"> -->

  <link rel="stylesheet" type="text/css" href="jquery-easyui-1.5.1/themes/default/easyui.css">
  <link rel="stylesheet" type="text/css" href="jquery-easyui-1.5.1/themes/icon.css">
  <link rel="stylesheet" type="text/css" href="jquery-easyui-1.5.1//demo/demo.css">

  <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script> -->
  <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/me.js"></script>
  <!-- <script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script> -->
  <script type="text/javascript" src="jquery-easyui-1.5.1/jquery.easyui.min.js"></script>
  <!-- <script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.edatagrid.js"></script> -->
  <script type="text/javascript" src="jquery-easyui-1.5.1/jquery.edatagrid.min.js"></script>
  
</head>
  <body>

    <button onclick="ajaxtest()">ajax test</button>

    <input id="ss" class="easyui-searchbox" style="width:300px"
            data-options="searcher:qq,prompt:'Please Input Value',menu:'#mm',height:30 "></input>
            
    <div id="mm" style="width:120px">
        <div data-options="name:'fullname',iconCls:'icon-ok'">Full Name</div>
        <div data-options="name:'nickname'">Nick Name</div>
        <div data-options="name:'address'">Address</div>
    </div>

    <table id="dg"></table>

    <div id="pp" style="background:#efefef;border:1px solid #ccc;"></div>

    <div id="toolbar">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUser()">New Custom</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">Edit Custom</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">Remove Custom</a>
    </div>
  
  <div id="dlg" class="easyui-dialog" style="width:400px;height:320px;padding:10px 20px"
      closed="true" buttons="#dlg-buttons">
    <div class="ftitle">Custom Information</div>
    <form id="fm" method="post" novalidate>
      <div class="fitem">
        <label>CID:</label>
        <input name="cid" class="easyui-textbox" required="true">
      </div>
      <div class="fitem">
        <label>Fullname:</label>
        <input name="fullname" class="easyui-textbox" required="true">
      </div>
      <div class="fitem">
        <label>Nickname:</label>
        <input name="nickname" class="easyui-textbox">
      </div>
      <div class="fitem">
        <label>Address:</label>
        <input name="address" class="easyui-textbox">
      </div>
      <div class="fitem">
        <label>Phone:</label>
        <input name="phone" class="easyui-textbox">
      </div>
      <div class="fitem">
        <label>Email:</label>
        <input name="email" class="easyui-textbox" validType="email">
      </div>
    </form>
  </div>
  <div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveUser()" style="width:90px">Save</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Cancel</a>
  </div>

  <p id="testp" style="background:red"></p>
  <p id="testp1" style="background:yellow"></p>

  <script type="text/javascript">
    $(function(){
        $('#dg').datagrid({
            //url: 'get_customs_pager',
            columns:[[
                {field:'cid',title:'CID',width:40},
                {field:'fullname',title:'FullName'},
                {field:'nickname',title:'NickName',align:'right'},
                {field:'address',title:'Address',align:'right'},
                {field:'phone',title:'Phone',width:100,align:'right'},
                {field:'email',title:'Email',align:'right'}
            ]],
            toolbar: '#toolbar'
        });
        //count
        $.ajax({
          method: "POST",
          url: "get_customs_count",
          data: { name: "John", location: "Boston" }
        })
          .done(function( msg ) {
            //pagination
            $('#pp').pagination({
                total:msg.count,
                pageSize:10
            });  
            //show the first page
            $.ajax({
              method: "POST",
              url: "get_customs_pager"
            })
              .done(function( msg ) {
                alert( "Data: " + msg );
                $('#dg').datagrid('loadData',msg);
              });
          });

    });

  function getDataForPager(pagen, pages) {
    $.post('get_customs_pager',{"pageno":pagen,"pagesz":pages},function(result){
      $.messager.progress('close'); 
      $('#dgd').datagrid('loadData', result);
    });  
  }

    function qq(value,name){
      $.post('get_search_customs',{"col":name,"val":value},function(result){
        $('#dg').datagrid('loadData',result);
      });
    }

    var url;
    function newUser(){
      $('#dlg').dialog('open').dialog('setTitle','New Custom');
      $('#fm').form('clear');
      url = 'add_custom';
    }
    function editUser(){
      var row = $('#dg').datagrid('getSelected');
      if (row){
        $('#dlg').dialog('open').dialog('setTitle','Edit Custom');
        $('#fm').form('load',row);
        url = 'update_custom?ocid='+row.cid;
      }
    }
    function saveUser(){
      $('#fm').form('submit',{
        url: url,
        onSubmit: function(){
          return $(this).form('validate');
        },
        success: function(result){
          var result = eval('('+result+')');
          if (result.errorMsg){
            $.messager.show({
              title: 'Error',
              msg: result.errorMsg
            });
          } else {
            $('#dlg').dialog('close');    // close the dialog
            $('#dg').datagrid('reload');  // reload the user data
          }
        }
      });
    }
    function destroyUser(){
      var row = $('#dg').datagrid('getSelected');
      if (row){
        $.messager.confirm('Confirm','Are you sure you want to destroy this user?',function(r){
          if (r){
            $.post('delete_custom',{cid:row.cid},function(result){
              if (result.success){
                $('#dg').datagrid('reload');  // reload the user data
              } else {
                $.messager.show({ // show error message
                  title: 'Error',
                  msg: result.errorMsg
                });
              }
            },'json');
          }
        });
      }
    }
  </script>
  <style type="text/css">
    #fm{
      margin:0;
      padding:10px 30px;
    }
    .ftitle{
      font-size:14px;
      font-weight:bold;
      padding:5px 0;
      margin-bottom:10px;
      border-bottom:1px solid #ccc;
    }
    .fitem{
      margin-bottom:5px;
    }
    .fitem label{
      display:inline-block;
      width:80px;
    }
    .fitem input{
      width:160px;
    }
  </style>
  </body>
</html>
